.profileContainer {
  height: 300px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 10px;
  background-color: grey;
  border: 2px;
  border-style: solid;
  border-color: red;
}

.portrait {
  height: auto;
  width: 200px;
  border-radius: 50%;
}

.skillsContainer {
  height: 150px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 10px;
  background-color: black;
  border: 2px;
  border-style: solid;
  border-color: red;
}

.projectsContainer {
  height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 10px;
  background-color: pink;
  border: 2px;
  border-style: solid;
  border-color: red;
}

.artContainer {
  height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 10px;
  background-color: pink;
  border: 2px;
  border-style: solid;
  border-color: red;
}

.contactContainer {
  height: 150px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 10px;
  background-color: blue;
  border: 2px;
  border-style: solid;
  border-color: red;
}

@media only screen and (max-width : 830px) {

}
