@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis|Roboto+Condensed');

/* Global CSS */
body {
  background-color: #5C1100;
}

h1 {
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
  color: #DB5E42;
}

p {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

ul li {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 15px;
  font-size: 20px;
}

img {
  margin: 15px;
}

.right {
  float: right;
}

a:hover {
  opacity: .5;
}

/* Profile Container */
.profileContainer {
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.nameLogo {
  height: auto;
  width: 50%;
  float: right;
  display: inline-block;
  margin: 20px 50px 10px 10px;
  text-align: center;
}

.portrait {
  height: auto;
  width: 25%;
  border-radius: 50%;
  display: inline-block;
  margin: 60px 10px 10px 100px;
  text-align: center;
  border-width: thick;
  border-color: white;
  border-style: outset;
}

.quoteBox {
  text-align: center;
}

#quoteGen {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 20px 15px 15px 15px;
  font-style: italic;
  font-family: 'Dosis', sans-serif;
}

/* Skills Container */
.skillsContainer {
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.skillList {
  display: inline-block;
  width: 25%;
  margin: 20px 20px 20px 80px;
  list-style-type: disc;
}

.specialties {
  display: inline-block;
  float: right;
  margin: 30px 30px 30px 10px;
  padding-top: 30px;
}

.specialties ul {
  display: inline-flex;
  list-style: none;
}

.specialties ul li {
  margin: auto;
  width: 100%;
}

.specialties img {
  margin: 20px;
  height: 100px;
  width: auto;
}

/* Projects Container */
.projectsContainer {
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.placeholder {
  display: inline-block;
  height: auto;
  width: 430px;
  margin: 15px;
}

/* Contact Container */
.contactContainer {
  height: 150px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #8F1B00;
}

.contact {
  text-align: center;
  padding-top: 25px;
}

@media only screen and (max-width : 830px) {

/* Profile Container */
  .profileContainer {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    margin: 15px;
    background-color: #8F1B00;
    border-radius: 15px;
  }

  .nameLogo {
    height: auto;
    width: 350px;
    float: none;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .portrait {
    height: auto;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    text-align: center;
    border-width: thick;
    border-color: white;
    border-style: outset;
  }

/* Skills Container */
  .skillList {
    display: block;
    text-align: left;
    width: 300px;
    margin: 30px 20px 20px 100px;
    list-style-type: none;
  }

  .specialties {
    display: block;
    float: none;
    text-align: center;
    margin: 30px 30px 30px 10px;
    padding-top: 30px;
  }

  .specialties img {
    margin: 20px;
    height: 70px;
    width: auto;
  }

}
