@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis|Roboto+Condensed');

body {
  background-color: #5C1100;
}

.profileContainer {
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.nameLogo {
  height: auto;
  width: 50%;
  float: right;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
}

.portrait {
  height: auto;
  width: 25%;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 10px 10px 110px;
  text-align: center;
  border-width: thick;
  border-color: white;
  border-style: outset;
}

#quoteGen {
  text-align: center;
  color: white;
  margin: 15px;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}

.skillsContainer {
  height: 150px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.projectsContainer {
  height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.artContainer {
  height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 15px;
  background-color: #8F1B00;
  border-radius: 15px;
}

.contactContainer {
  height: 150px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #8F1B00;
}

@media only screen and (max-width : 830px) {

  .profileContainer {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    margin: 15px;
    background-color: #8F1B00;
    border-radius: 15px;
  }

  .nameLogo {
    height: auto;
    width: 350px;
    float: none;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .portrait {
    height: auto;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    text-align: center;
    border-width: thick;
    border-color: white;
    border-style: outset;
  }

}
